<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
    <title>QUẢN LÝ ĐƠN HÀNG</title>
    <link rel="stylesheet" href="../../assets/css/quanlydonhang.css">
</head>
<body>
    <div class="admin-panel">
        <div class="sidebar">
            <ul>
                <li>Quản lý tin tức</li>
                <li>Quản lý sản phẩm</li>
                <li>Quản lý đơn hàng</li>
                <li>Đăng xuất</li>
            </ul>
        </div>
        <div class="content">
            <h1>QUẢN LÝ ĐƠN HÀNG</h1>
            <section>
                <table>
                    <thead>
                        <tr>
                            <th>ID đơn hàng</th>
                            <th>Tên người nhận</th>
                            <th>Địa chỉ nhận hàng</th>
                            <th>SDT</th>
                            <th>Địa chỉ email</th>
                            <th>Thời gian đặt</th>
                            <th>Cập nhật</th>
                            <th>Hiển thị</th>
                            <th>Xóa</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>ID đơn hàng</td>
                            <td>Tên người nhận</td>
                            <td>Địa chỉ nhận hàng</td>
                            <td>SDT</td>
                            <td>Địa chỉ email</td>
                            <td>Thời gian đặt</td>
                            <td><button class="icon-btn"><i class="fas fa-edit"></i></button></td>
                            <td><button class="visible"><i class="fas fa-eye"></i></button></td>
                            <td><button class="icon-btn delete"><i class="fas fa-trash-alt"></i></button></td>
                        </tr>
                        <tr>
                            <td>ID đơn hàng</td>
                            <td>Tên người nhận</td>
                            <td>Địa chỉ nhận hàng</td>
                            <td>SDT</td>
                            <td>Địa chỉ email</td>
                            <td>Thời gian đặt</td>
                            <td><button class="icon-btn"><i class="fas fa-edit"></i></button></td>
                            <td><button class="visible"><i class="fas fa-eye"></i></button></td>
                            <td><button class="icon-btn delete"><i class="fas fa-trash-alt"></i></button></td>
                        </tr>
                        <tr>
                            <td>ID đơn hàng</td>
                            <td>Tên người nhận</td>
                            <td>Địa chỉ nhận hàng</td>
                            <td>SDT</td>
                            <td>Địa chỉ email</td>
                            <td>Thời gian đặt</td>
                            <td><button class="icon-btn"><i class="fas fa-edit"></i></button></td>
                            <td><button class="visible"><i class="fas fa-eye"></i></button></td>
                            <td><button class="icon-btn delete"><i class="fas fa-trash-alt"></i></button></td>
                        </tr>
                        <tr>
                            <td>ID đơn hàng</td>
                            <td>Tên người nhận</td>
                            <td>Địa chỉ nhận hàng</td>
                            <td>SDT</td>
                            <td>Địa chỉ email</td>
                            <td>Thời gian đặt</td>
                            <td><button class="icon-btn"><i class="fas fa-edit"></i></button></td>
                            <td><button class="visible"><i class="fas fa-eye"></i></button></td>
                            <td><button class="icon-btn delete"><i class="fas fa-trash-alt"></i></button></td>
                        </tr>
                        <tr>
                            <td>ID đơn hàng</td>
                            <td>Tên người nhận</td>
                            <td>Địa chỉ nhận hàng</td>
                            <td>SDT</td>
                            <td>Địa chỉ email</td>
                            <td>Thời gian đặt</td>
                            <td><button class="icon-btn"><i class="fas fa-edit"></i></button></td>
                            <td><button class="visible"><i class="fas fa-eye"></i></button></td>
                            <td><button class="icon-btn delete"><i class="fas fa-trash-alt"></i></button></td>
                        </tr>
                    </tbody>
                </table>
            </section>
        </main>
    </div>
</body>
</html>