<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TRANG SẢN PHẨM</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../../assets/css/news.css">
    <link rel="stylesheet" type="text/css" href="../../assets/css/news_queries.css">
    <link rel="stylesheet" type="text/css" href="../../assets/css/grid.css">
    <script src="../../assets/js/new.js"></script>
</head>

<body>
    <header class="header">
        <div class="logo">POLIDOLL</div>
        <div class="menu-toggle" onclick="toggleMenu()"><i class="fas fa-bars"></i></div>
        <nav class="navbar">
            <div class="dropdown">
                <button class="dropbtn"><a href="trangchu.html">TRANG CHỦ</a></button>
            </div>
            <div class="dropdown">
                <button class="dropbtn">BÁN CHẠY NHẤT</button>
            </div>
            <div class="dropdown">
                <button class="dropbtn"><a href="product.html">SẢN PHẨM</a></button>
                <div class="dropdown-content">
                    <a href="#">Mắt</a>
                    <a href="#">Môi</a>
                    <a href="#">Mặt</a>
                </div>
            </div>
            <div class="dropdown">
                <button class="dropbtn"><a href="aboutus.html">KHÁM PHÁ</a></button>
                <div class="dropdown-content">
                    <a href="aboutus.html">Về Chúng Tôi</a>
                    <a href="news.html">Blogs</a>
                </div>
            </div>
            <div class="dropdown">
                <a href="lienhe.html"><button class="dropbtn">LIÊN HỆ</a></button>
            </div>
        </nav>
        <div class="icons">
            <a href="#" title="Search"><i class="fa-solid fa-magnifying-glass"></i></a>
            <a href="#" title="Wishlist"><i class="fa-solid fa-heart"></i></a>
            <a href="#" title="Cart"><i class="fa-solid fa-cart-shopping"></i></a>
        </div>
    </header>
    <main>
        <div class="content">
            <aside class="sidebar">
                <p style="color: rgb(134, 134, 134);"><a href="trangchu.html">Home</a>/Tin tức</p>
                <h2 style="color: #ff6f91; font-size: 27;">TIN TỨC</h2>
                <ul>
                    <li><a href="B10.html">TIN TỨC</a></li>
                    <li><a href="#">TOP BÁN CHẠY</a></li>
                    <li><a href="#">MAKE UP - MẮT</a></li>
                    <li><a href="#">MAKE UP - MÔI</a></li>
                    <li><a href="#">MAKE UP - MẶT</a></li>
                </ul>
                <div class="promo">
                    <span>ƯU ĐÃI GIẢM 15% CHO ĐƠN HÀNG ĐẦU TIÊN</span>
                </div>
                <div class="under-promo">
                    <h2 style="color: #ff6f91; font-size: 27;">Bài viết liên quan</h2>
                    <a style="text-decoration: none" title="Liên kết" href="ssssss">
                        <h3> Watery Glow Lipstick - Không chỉ là thỏi son</h3>
                    </a>
                    <p>Đăng vào 03.2024</p>
                    <a style="text-decoration: none" title="Liên kết" href="ssssss">
                        <h3> Icy American Series - Sold out sau 2 ngày!</h3>
                    </a>
                    <p>Đăng vào 05.2024</p>
                    <a style="text-decoration: none" title="Liên kết" href="ssssss">
                        <h3>Bí quyết giữ môi căng mọng cùng sweet lip jelly</h3>
                    </a>
                    <p>Đăng vào 08.2024</p>
                </div>
            </aside>
            <section class="blog-grid">
                <div class="row">
                    <div class="row">
                        <div class="col span-1-of-3">
                            <article class="post">
                                <a href="chitiet.html"><img src="../../assets/img/NEWS/new1.jpg" alt="new1"></a>
                                <a href="chitiet.html">
                                    <h2>Watery Glow Lipstick - Không chỉ là thỏi son</h2>
                                </a>
                                <a href="chitiet.html" class="btn">Đọc thêm</a>
                            </article>
                        </div>
                        <div class="col span-1-of-3">
                            <article class="post">
                                <img src="../../assets/img/NEWS/new2.jpg" alt="new 2">
                                <h2>Icy American Series - Sold out sau 2 ngày!</h2>
                                <a href="#" class="btn">Đọc thêm</a>
                            </article>
                        </div>
                        <div class="col span-1-of-3">
                            <article class="post">
                                <img src="../../assets/img/NEWS/new3.jpg" alt="new 3">
                                <h2>Bí quyết giữ môi căng mọng cùng sweet lip jelly</h2>
                                <a href="#" class="btn">Đọc thêm</a>
                            </article>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col span-1-of-3">
                            <article class="post">
                                <img src="../../assets/img/NEWS/new4.png" alt="new 4">
                                <h2>Son bóng Mirror Tea Jelly Light Lip Glaze - Vẻ đẹp tự tin</h2>
                                <a href="#" class="btn">Đọc thêm</a>
                            </article>
                        </div>
                        <div class="col span-1-of-3">
                            <article class="post">
                                <img src="../../assets/img/NEWS/new5.png" alt="new5">
                                <h2>2 IN 1 Highlighter Contour Palette - Rạng rỡ với PoliDoll</h2>
                                <a href="#" class="btn">Đọc thêm</a>
                            </article>
                        </div>
                        <div class="col span-1-of-3">
                            <article class="post">
                                <img src="../../assets/img/NEWS/new6.png" alt="new 6">
                                <h2>Pretty Blush Powder - Sắc hồng tự nhiên</h2>
                                <a href="#" class="btn">Đọc thêm</a>
                            </article>
                        </div>
                    </div>
                </div>
                <div class="pagination">
                    <a href="prev-page.html">TRƯỚC</a>
                    <a class="active">1</a>
                    <a href="page2.html">2</a>
                    <a href="next-page.html">SAU</a>
                </div>
            </section>
        </div>
    </main>
</body>
<footer class="footer">
    <div class="footer-container">
        <!-- Customer Service Section -->
        <div class="footer-section">
            <h4>CHĂM SÓC KHÁCH HÀNG</h4>
            <p>polidoll.cskh@gmail.com</p>
        </div>
        <!-- Informations Section -->
        <div class="footer-section information">
            <h4>THÔNG TIN</h4>
            <ul>
                <li><a href="#">Về chúng tôi</a></li>
                <li><a href="#">Liên lạc</a></li>
                <li><a href="#">Theo dõi đơn hàng</a></li>
                <li><a href="#">Tin tức</a></li>
            </ul>
        </div>
        <!-- Policy Section -->
        <div class="footer-section Policy">
            <h4>CHÍNH SÁCH</h4>
            <ul>
                <li><a href="#">Chính sách bảo mật</a></li>
                <li><a href="#">Chính sách hoàn trả</a></li>
                <li><a href="#">Chính sách vận chuyển</a></li>
                <li><a href="#">Điều khoản dịch vụ</a></li>
            </ul>
        </div>
        <!-- Follow Us Section -->
        <div class="footer-section">
            <h4>THEO DÕI CHÚNG TÔI</h4>
            <div class="social-icons">
                <a href="#" title="Facebook"><i class="fab fa-facebook"></i></a>
                <a href="#" title="Instagram"><i class="fab fa-instagram"></i></a>
            </div>
            <h4>ĐĂNG KÝ LIÊN LẠC</h4>
            <div class="newsletter">
                <p>Nhận những thông tin mới nhất về sản phẩm và chương trình ưu đãi của chúng tôi</p>
                <input type="email" placeholder="Nhâp địa chỉ email của bạn">
                <button>GỬI</button>
            </div>
        </div>
    </div>
    <!-- Scroll to Top Button -->
    <div class="scroll-top">
        <a href="#">⬆</a>
    </div>
</footer>

</html>