<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TIN TỨC</title>
    <link rel="stylesheet" type="text/css" href="../../assets/css/news.css">
</head>
<body>
    
       <link href="//judydoll.com/cdn/shop/t/15/assets/vendor.min.css?v=72559489221033970801679558813" media="all" rel="stylesheet" type="text/css">
        <link href="//judydoll.com/cdn/shop/t/15/assets/theme-styles.css?v=5219045116924015111679558852" media="all" rel="stylesheet" type="text/css">
         <link href="//judydoll.com/cdn/shop/t/15/assets/theme-styles-responsive.css?v=181606480384795186611679558852" media="all" rel="stylesheet" type="text/css">
          <link href="//judydoll.com/cdn/shop/t/15/assets/theme-settings.css?v=125071059887424459031733134575" media="all" rel="stylesheet" type="text/css">
           <link href="//judydoll.com/cdn/shop/t/15/assets/product-surfup.css?v=94466445851586681931679558812" media="all" rel="stylesheet" type="text/css">
           
      <div class="wrapper-container wrapper-body">
       <main class="main-content" role="main">
        <div class="shopify-section" id="shopify-section-template--18335015928085__main">
         <div class="blog-template blog-template-default">
          <div class="container">
           <div class="breadcrumb">
            <a data-translate="general.breadcrumbs.home" href="/">
             Trang chủ
            </a>
            <span class="arrow">
             <i aria-hidden="true" class="fa fa-angle-right">
             </i>
            </span>
            <span>
             Tin tức
            </span>
           </div>
           <div class="page-header">
            <h1>
             <span>
              Tin tức
             </span>
            </h1>
           </div>
           <div class="halo-blog-content">
            <div class="row">
             <div class="shopify-section col-12 col-xl-3 col-sidebar" id="shopify-section-sidebar-blog">
              <div class="sidebar-label">
               <span class="icon-filter">
                <svg fill="#000000" version="1.1" viewbox="0 0 48 48" x="0px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" y="0px">
               
                </svg>
               </span>
              
              </div>
              <div class="sidebar sidebar-blog">
               <a class="close-sidebar close" href="javascript:void(0)" title="Close">
                <svg aria-hidden="true" class="svg-inline--fa fa-times fa-w-10 fa-2x" data-icon="times" data-prefix="fal" role="img" viewbox="0 0 320 512" xmlns="http://www.w3.org/2000/svg">
                 <path class="" d="M193.94 256L296.5 153.44l21.15-21.15c3.12-3.12 3.12-8.19 0-11.31l-22.63-22.63c-3.12-3.12-8.19-3.12-11.31 0L160 222.06 36.29 98.34c-3.12-3.12-8.19-3.12-11.31 0L2.34 120.97c-3.12 3.12-3.12 8.19 0 11.31L126.06 256 2.34 379.71c-3.12 3.12-3.12 8.19 0 11.31l22.63 22.63c3.12 3.12 8.19 3.12 11.31 0L160 289.94 262.56 392.5l21.15 21.15c3.12 3.12 8.19 3.12 11.31 0l22.63-22.63c3.12-3.12 3.12-8.19 0-11.31L193.94 256z" fill="currentColor">
                 </path>
                </svg>
               </a>
               <div class="widget sidebar-links">
                <div class="widget-title">
                 <h3 class="sidebar-title">
                  <span>
                   Phân loại
                  </span>
                 </h3>
                </div>
                <div class="widget-content">
                 <ul>
                  <li class="sidebar-link-lv1">
                   <a href="LINK TRANG NEW">
                    <span>
                     MỚI RA MẮT
                    </span>
                   </a>
                  </li>
                  <li class="sidebar-link-lv1">
                   <a href="TRANG BÁN CHẠY">
                    <span>
                     TOP BÁN CHẠY
                    </span>
                   </a>
                  </li>
                  <li class="sidebar-link-lv1">
                   <a href="TRANG EYES">
                    <span>
                     MAKE UP - EYES
                    </span>
                   </a>
                   </li>
              
                  <li class="sidebar-link-lv1">
                   <a href="MÔI LIPS">
                    <span>
                     MAKE UP - LIPS
                    </span>
                   </a>
                  </li>
               
                    <li>
                     <a href="TRANG DIEM FACE">
                      <span>
                            MAKE UP - FACE
                      </span>
                     </a>
                    </li>
                    <li>
                     <a href="TRANG DIEM FACE">
                      <span>
                            VỀ CHÚNG TÔI
                      </span>
                     </a>
                    </li>
                   </ul>
                  </li>
                  
                </div>
               </div>
               <div class="widget widget-recent-articles">
                <div class="widget-title">
                 <h3 class="sidebar-title">
                  <span>
                   KHÁM PHÁ TIPS LÀM ĐẸP
                  </span>
                 </h3>
                </div>
                <div class="widget-content">
                 <ul>
                  <li class="article">
                   <h3>
                    <a href="/blogs/news/watery-glow-lipstick-more-than-just-lipstick">
                     <span>
                      Watery Glow Lipstick- Không chỉ là son môi
                     </span>
                    </a>
                    <em>
                     June 30, 2024
                    </em>
                   </h3>
                  </li>
                  <li class="article">
                   <h3>
                    <a href="/blogs/news/icy-american-series">
                     <span>
                      Dòng sản phẩm Icy American
                     </span>
                    </a>
                    <em>
                     June 29, 2024
                    </em>
                   </h3>
                  </li>
                  <li class="article">
                   <h3>
                    <a href="/blogs/news/sweet-lip-jelly">
                     <span>
                      Đôi môi ngọt ngào với Sweety Lip Jelly
                     </span>
                    </a>
                    <em>
                     June 29, 2024
                    </em>
                   </h3>
                  </li>
                 </ul>
                </div>
               </div>
               <div class="widget sidebar-widget-product" data-sidebar-product="">
                <div class="widget-title">
                 
                </div>
                <div class="widget-product">
                 <div class="grid-item">
                  <div class="grid-view-item no-product">
                   <div class="product-top">
                    
                   </div>
                   <div class="product-bottom">
                    <div class="product-title">
                    
                    </div>
                    <div class="price-box">
                    
                    </div>
                   </div>
                  </div>
                 </div>
                </div>
               </div>
               <div class="widget sidebar-banner">
                <img alt="Judydoll-JOY GROUP" class="lazyautosizes lazyloaded" data-sizes="auto" data-src="//judydoll.com/cdn/shop/files/banner_1024x1024_crop_center.jpg?v=1682587097" itemprop="logo" src="//judydoll.com/cdn/shop/files/banner_1024x1024_crop_center.jpg?v=1682587097"/>
               </div>
              </div>
             </div>
             <style>
              
        
      }
             </style>
             <div class="shopify-section col-12 col-xl-9 col-main" id="shopify-section-blog-template">
              <div class="content-blog blog-default">
               <ul class="list-blog">
                <li class="blog-item">
                 <h3 class="article-title">
                  <a href="/blogs/news/watery-glow-lipstick-more-than-just-lipstick">
                   <span>
                     Watery Glow Lipstick- Không chỉ là son môi
                   </span>
                  </a>
                 </h3>
                 <div class="blog_author">
                  <span class="article__date">
                   on
                   <time datetime="2023-06-30T08:07:38Z">
                    June 30, 2023
                   </time>
                  </span>
                 </div>
                 <div class="article-details">
                  <div class="article-img">
                   <a class="animate-scale" href="/blogs/news/watery-glow-lipstick-more-than-just-lipstick" title="">
                    <img alt="Watery Glow Lipstick-More Than Just Lipstick" class="article__image" src="//judydoll.com/cdn/shop/articles/5_1024x1024.jpg?v=1688112864"/>
                   </a>
                  </div>
                  <div class="rte article-excerpt">
                   <div class="des">
                   </div>
                   <div class="actions">
                    <a class="btn btn-read-more" href="/blogs/news/watery-glow-lipstick-more-than-just-lipstick">
                     Đọc thêm
                    </a>
                   </div>
                  </div>
                 </div>
                </li>
                <li class="blog-item">
                 <h3 class="article-title">
                  <a href="/blogs/news/icy-american-series">
                   <span>
                     Dòng sản phẩm Icy American
                   </span>
                  </a>
                 </h3>
                 <div class="blog_author">
                  <span class="article__date">
                   on
                   <time datetime="2023-06-29T09:59:56Z">
                    June 29, 2023
                   </time>
                  </span>
                 </div>
                 <div class="article-details">
                  <div class="article-img">
                   <a class="animate-scale" href="/blogs/news/icy-american-series" title="">
                    <img alt="Icy American Series" class="article__image" src="//judydoll.com/cdn/shop/articles/1_1024x1024.jpg?v=1688106585"/>
                   </a>
                  </div>
                  <div class="rte article-excerpt">
                   <div class="des">
                   </div>
                   <div class="actions">
                    <a class="btn btn-read-more" href="/blogs/news/icy-american-series">
                     Đọc thêm
                    </a>
                   </div>
                  </div>
                 </div>
                </li>
                <li class="blog-item">
                 <h3 class="article-title">
                  <a href="/blogs/news/sweet-lip-jelly">
                   <span>
                     Đôi môi ngọt ngào với Sweety Lip Jelly
                   </span>
                  </a>
                 </h3>
                 <div class="blog_author">
                  <span class="article__date">
                   on
                   <time datetime="2023-06-29T08:07:48Z">
                    June 29, 2023
                   </time>
                  </span>
                 </div>
                 <div class="article-details">
                  <div class="article-img">
                   <a class="animate-scale" href="/blogs/news/sweet-lip-jelly" title="">
                    <img alt="sweet lip jelly" class="article__image" src="//judydoll.com/cdn/shop/articles/2_1024x1024.jpg?v=1688106560"/>
                   </a>
                  </div>
                  <div class="rte article-excerpt">
                   <div class="des">
                   </div>
                   <div class="actions">
                    <a class="btn btn-read-more" href="/blogs/news/sweet-lip-jelly">
                     Đọc thêm
                    </a>
                   </div>
                  </div>
                 </div>
                </li>
               </ul>
               <ul class="pagination-center text-center">
                <li class="disabled">
                 <i aria-hidden="true" class="fa fa-angle-left">
                 </i>
                 <span>
                  Prev
                 </span>
                </li>
                <li class="active">
                 <span>
                  1
                 </span>
                </li>
                <li>
                 <a href="/blogs/news?page=2" title="">
                  2
                 </a>
                </li>
                <li class="text">
                 <a href="/blogs/news?page=2" title="Next">
                  <span>
                   Next
                  </span>
                  <i aria-hidden="true" class="fa fa-angle-right">
                  </i>
                 </a>
                </li>
               </ul>
              </div>
             </div>
             <style>
              .halo-blog-content .article-details .article-excerpt {
        text-align: left;
      }
             </style>
            </div>
           </div>
          </div>
         </div>
        </div>
        <noscript class="endOfLayoutContentX" type="text/mark">
        </noscript>
        <!-- End of layout -->
</body>
</html>