
.logo {
    font-size: 24px;
    font-weight: bold;
    color: #f25a8c;
}

.navbar {
    display: flex;
    gap: 30px;
    justify-content: center;
    flex-grow: 1;
    position: relative;
}
.dropbtn a{
    text-decoration: none;
    color: #df376f;

}
.dropdown {
    position: relative;
}
.dropbtn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    color: #df376f;
    padding: 5px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1100;
    /* Đặt cao nhất */
    min-width: 150px;
    border-radius: 5px;
    overflow: visible;
    /* Ngăn menu bị cắt */
}

.dropdown-content a {
    color: black;
    padding: 10px;
    text-decoration: none;
    display: block;
    font-size: 15px;
}

.dropdown-content a:hover {
    background-color: #f8c3d6;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.icons {
    display: flex;
    gap: 15px;
}

.icons a {
    text-decoration: none;
    font-size: 25px;
    color: #fa8db2;
}

.icons a:hover {
    color: rgb(255, 4, 4);
    transition: all.3s;
}
@media screen and (max-width: 480px) {

    /* Adjust dropdown styles for mobile */
    .dropdown-content {
        position: relative;
        box-shadow: none;
        transition: opacity 0.3s ease, transform 0.3s ease;
    }

    .dropdown-content a {
        font-size: 14px;
      padding: 10px 15px;
      display: block;
    }

    .navbar {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: white;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
        z-index: 1000;
    }

    .menu-toggle {
        display: block;
        font-size: 25px;
        color: #f25a8c;
        cursor: pointer;
        margin-left: 10%;
    }

    .menu-toggle.active+.navbar {
        display: flex;
        /* Show navbar on menu toggle click */
    }

    /* Icons Section Responsive */
    .icons {
        display: flex;
        gap: 10px;
    }

    .navbar.active {
        display: block;
        /* Hiện menu khi có class active */
    }

    .navbar a {
        text-decoration: none;
        display: block;
    }

    .category {
        width: 65%;
    }

    .content-container {
        max-width: 95%;
        margin: 0 auto;
    }
}
